<header>
        <div class="jumbotron jumpotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet, earum. Unde quisquam
                    vero, sequi modi laudantium at recusandae id sunt libero suscipit non voluptas cumque dolore sint
                    labore harum quia.</p>
            </div>
        </div>
    </header>